<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparrow.backend.dao.mapper.ProductMapper">
    <select id="selectProductByCategory" parameterType="java.lang.Integer" resultType="com.sparrow.backend.pojo.Product">
      select *
      from t_product where category_id = #{categoryId}
    </select>
</mapper>